@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700;900&family=Skranji&family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  font-family: "Inter", serif;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust as needed based on layering with other elements */
  /* Additional styling */
  background-color: #fff;
  /* ... */
}